<center>


<h1>Welcome to my humble blog in which I tell how I made the app.</h1>
<br><br><br>
3-5th April -> Learn Ruby<br>
5th April -> started<br>
5th April -> made more than 6 apps. This false smiling rails shithead which pretends to be an angel is fucking dickhead. <br>
5th April -> Decided to stick with scaffold fot the initialisation. <br>
5th April -> Now images won't upload. Oh, you devil..!!<br>
Bloody hell. finally got openid to work as well as images<br>
NOW TO JOIN THEM :( <br>
I HATE YOU....!!! <br>
Its not that bad... I'll just have to work conceptually for quite alot of time as I'll have to refactor everything and join<br>
6th April -> Hell Yeah.. OpenId integrated IN THE MAIN WEBSITE..yes sire.. in the MAIN WEBSITE.. INTEGRATED.. :D ... WE ARE ON..!!<br>
6th April -> It was hell.. after almost breaking the conventions of the MVC model, i read a FUCKING TINY LINE... for models wouth asossciations, instead of x.create() and then fuddling with asossciations, simply do y.x.create(). I mean, yeah, rails takes a lot out of your hands. BUT FUCKING TELL ME WHAT ALL CAN YOU TAKE OUT..?? It just leaves me in the lurch. I don't know whether to be angry or happy<br>
I haven't made much progress. Just doing this and that.. nothing much.. I should be starting now... maybe start working on the comments section..or hasthags<br>
FUCKING POST REQUEST..!! :(.. Time to simply issue a get request and redirect back :p.<br>
Damn.. I am bad at this websites.<br>
Wish I had started sooner.. Chalo at least first year isn't that bad for starting at least.<br>


<br><br><br>
</center>
