<% provide :title, 'Welcome to Lookit.' %>
<p>
	<h2>
		<center>
			<br><br>Welcome to Lookit.- The image Sharing Site<br> whose creater has zero aesthetic creativity whatsoever.
			<br><br> I still have to spend time on it 
		</center><br><br>
	</h2>
</p>