<nav class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
	<div class="collapse navbar-collapse" id="head-navbar-collapse-1">
		<div style="text-align:center;">
		<p class="navbar-text">Made by darkryder (Sambhav Satija)</p>
		<%= link_to "mailto:Sambhav13085@iiitd.ac.in" do %>
		<p class="navbar-text navbar-right">Contact me.&nbsp;&nbsp;&nbsp;</p>
		<% end %>

		</div>
	</div><!-- /.container-fluid -->
</nav>

